*{
    box-sizing: border-box;
}
.body {
    background: linear-gradient(rgb(195, 33, 111), orange);
    font-size: 13px;
    height: 95vh;

}

.appContainer{
    margin-left: 80px;
    width: 90%;
}

#searchbar{
    width: 94%;
    height:30px;
    margin-top:20px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 10px;
    font-style: italic;
}

#searchbar:focus{
    outline: none;
}


.gridContainer {
    display:grid;
    grid-template-columns: repeat(2, 563px);
    grid-row-gap: 4px;
    grid-column-gap: 17px
}

li{
    list-style-type: none;
}

.profile{
    border:1px solid white;
    border-radius: 4px;
    margin-top: 10px;
    background-color: white;
    height: 80px;
    padding: 4px;
}

.personinfo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 4px;
    margin-left: 4px;
}

img{
    height: 60px;
}

.personName{
    display: flex;
    gap: 2px;
    font-weight: bold;
}
.personData{
    line-height: 1px;
    font-size: 12px;
}
