*{
    box-sizing: border-box;
}
.body {
    background: linear-gradient(rgb(195, 33, 111), orange);
    font-size: 13px;
    height: 95vh;

}

.appContainer{
    margin-left: 80px;
    width: 90%;
}

#searchbar{
    width: 94%;
    height:30px;
    margin-top:20px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 10px;
    font-style: italic;
}

#searchbar:focus{
    outline: none;
}

